$font-family: "Poppins", sans-serif;
$portfolio-icon-color: #333;
$login-primary: #8f2c24;
$login-primary-hover: #d64c42;
$social-bg: #dde1e7;
$social-icon-muted: #b6bbc5;
$social-shadow-light: #ffffff73;
$social-shadow-dark: rgba(94, 104, 121, 0.288);
