/* GLOBAL FONT */
body{
    font-family: 'Poppins', sans-serif;
    background:#ffffff;
    color:#0f172a;
}
/* NAVBAR WRAPPER */
.navbar{
    position:sticky;
    top:0;
    width:100%;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    border-bottom:1px solid rgba(0,0,0,0.06);
}

/* NAVBAR INNER CONTAINER */
.navbar{
    display:flex;
    justify-content:center;
}

.navbar .container{
    width:100%;
    max-width:1200px;
    padding:2px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* LOGO */
.logo{
    font-size:26px;
    font-weight:700;
    letter-spacing:1px;
    cursor:pointer;
    color:#0f172a;
}

.logo-highlight{
    color:#0ea5e9;
    font-size:32px;
}

/* MENU */
.nav-menu{
    list-style:none;
    display:flex;
    gap:28px;
}

.nav-menu a{
    text-decoration:none;
    color:#334155;
    font-weight:500;
    position:relative;
    transition:0.3s;
}

/* underline animation */
.nav-menu a::after{
    content:'';
    position:absolute;
    width:0%;
    height:2px;
    left:0;
    bottom:-6px;
    background:#0ea5e9;
    transition:0.3s ease;
}

.nav-menu a:hover{
    color:#0f172a;
}

.nav-menu a:hover::after{
    width:100%;
}

/* HAMBURGER ICON */
.hamburger{
    display:none;
    flex-direction:column;
    cursor:pointer;
    gap:5px;
}

.hamburger span{
    width:25px;
    height:3px;
    background:#0f172a;
    border-radius:2px;
    transition:0.3s;
}

/* HAMBURGER ANIMATION */
.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translateY(11px);
}

.hamburger.active span:nth-child(2){
    opacity:0;
}

.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-11px);
}

/* MOBILE MENU */
@media (max-width: 768px){

    .hamburger{
        display:flex;
        z-index:1100;
    }

    .nav-menu{
        position:fixed;
        top:70px;
        left:0;
        width:100%;
        background:white;
        flex-direction:column;
        align-items:center;
        gap:30px;
        padding:40px 0;
        box-shadow:0 10px 30px rgba(0,0,0,0.08);

        transform: translateY(-150%);
        transition:0.4s ease;
        z-index:1000;
    }

    .nav-menu.active{
        transform: translateY(0);
    }
}